<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @slide.language %>
</p>

<p>
  <strong>Author:</strong>
  <%= @slide.author %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @slide.theme %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @slide.topic %>
</p>

<p>
  <strong>Content:</strong>
  <%= @slide.content %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
