
            
<!-- CONTENT -->

            <div id="content" class="page_wrapper page_background">
                <div id="blog_content" class="columns_431">
                    <div class="three_quarters bottom_padding">
                        <div id="post-273" class="post_box top">
                            

<!-- David Egan Layout Compatible -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @intro_text.language %>
</p>

<p>
  <strong>Content:</strong>
  <%= @intro_text.content %>
</p>

<%= link_to 'Edit', edit_intro_text_path(@intro_text) %> |
<%= link_to 'Back', intro_texts_path %>

                        </div>
                    </div>
                    
<!-- QUATER SIDE BAR -->

                    <div class="quarter sidebar">
                    </div>
                </div>
            </div>