
<div id="title-bar" class="row">
    <div class="col-3" style="font-size: 32px; font-weight: bold">
        <%= react_component('SiteLogo', {logo_text: @logo_text}) %>
    </div>
    <div class="col-8" style="background: #515dae; 
                              border-radius: 10px; 
                              color: white; 
                              display: flex; 
                              justify-content: center"
    >
        <div style="position: absolute; top: 50%; transform: translate(0, -50%)">
            <h1 style="text-align: center">
                <%= @site_capture_title %>
            </h1>
            <p style="border: 2px; text-align: center; font-size: 14px">
                <%= @site_capture_text %>
            </p>
        </div>
    </div>
    <div class="col-1" style="font-size: 12px; font-weight: bold">
        <%= react_component('SiteLogo', {logo_text: @language}) %>
    </div>
</div>
<div id="mission-section-title" class="row">
    <h2> <%= @mission_section_title %> </h2>
</div>
<div id="mission-section-body" class="row">
    <div class="mission-section-card">
    </div>
</div>
<div id="social-impact-section-title" class="row">
    <h2> <%= @social_impact_section_title %> </h2>
</div>
<div id="social-impact-section-body" class="row">
    <div class="social-impact-section-card">
    </div>
</div>
<div id="publication-section-title" class="row">
    <h2> <%= @publication_section_title %> </h2>
</div>
<div id="publication-section-body" class="row">
    <div class="publication-section-card">
    </div>
</div>
