
            
<!-- CONTENT -->

            <div id="content" class="page_wrapper page_background">
                <div id="blog_content" class="columns_431">
                    <div class="three_quarters bottom_padding">
                        <div id="post-273" class="post_box top">
                            <p id="notice"><%= notice %></p>

<h1>Listing Mottos</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mottos.each do |motto| %>
      <tr>
        <td><%= motto.language %></td>
        <td><%= motto.name %></td>
        <td><%= motto.content %></td>
        <td><%= link_to 'Show', motto %></td>
        <td><%= link_to 'Edit', edit_motto_path(motto) %></td>
        <td><%= link_to 'Destroy', motto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motto', new_motto_path %>

                        </div>
                    </div>
                    
<!-- QUATER SIDE BAR -->

                    <div class="quarter sidebar">
                    </div>
                </div>
            </div>