
<div data-role="content" data-theme="a">
    <div data-role="header" data-theme="b">
        <p> 
            <% if (params[:upload]) %> 
                <%= params[:upload] %>
            <% else %>
                <%= params %>
            <% end %>
        </p>
    </div>
    <%= form_for(
           @book,
           :url => { :action => "create" },
           :html => { :multipart => true }
       ) do |form| 
    %>
        <!-- -->
        <% if defined?(@ret_value) %>
            <%= tag("div", {'data-role' => 'content', 'data-theme' => 'b'}, true) %>
            <%= tag("p", {'align' => 'center'}, true) %>
            <% if @ret_value == 0 %>
                <%= "Book Successfully Uploaded!#{pars}" %>
            <% else %>
                <%= "Could not Upload the Book: #{@book.errors.messages}" %>
            <% end %>
            <%= tag("p") %>
            <%= tag("div") %>
        <% end %>
        <!-- -->
            
        <%= form.text_field :language, :value => 'Language' %>
        <%= form.text_field :theme, :value => 'Theme' %>
        <%= form.text_field :author, :value => 'Author' %>
        <%= form.file_field :storage %>
        <%= submit_tag("Upload!") %>
    <% end %>
</div>
