
<% if @books.count == 0 %>
    <%= tag(
            "div", 
            {'data-role' => 'header', 
             'data-theme' => 'b', 'align' => 'center'}, 
            true
        )
    %>
        <%= tag("p", nil, true) %>
            <%= 'Sorry, there are no books in store for the moment!' %>
        <%= tag("p") %>
    <%= tag("div") %>
<% else %>
<% @books.each do |book| %>
    <%= render 'layouts/header_navigation' %>
    <div data-role="content" data-theme="a">
        <div data-role="header" data-theme="b">
            <p> Language :<%= book.language %> </p>
            <p> Theme    :<%= book.theme %> </p>
            <p> Author   :<%= book.author %> </p>
        </div>
        <div data-role="content" data-theme="a"> 
            <p>
            
            <!-- # Splitting text book at line breaks -->
            <% @text = book.content.to_s.split("\n") %> 
            
            <!-- #Detection variables -->
            <% @toc = false %>
            <% @p_header = false %> 
            
            <% @text.each do |p| %>
                <!-- # Detect start of table of content and mark it -->
                <% if p =~ /^\s*<toc>\s*/i %>
                    <% @toc = true %>
                <% end %> 
                <!-- -->
                
                <!-- #titles, chapters, ... only outside table of content -->
                <% if !@toc %>
                    <!-- # Detect titles, chapters, ... -->
                    <% if p =~ /^\s*#\s*/i %> 
                        <%= tag(
                                "p", {'data-role' => 'content', 
                                'data-theme' => 'b', 'align' => 'center'}, true
                            ) 
                        %>
                        <% @p_header = true %>
                    <% end %>
                    <!-- # Line break needed because each 'p' here is a line -->
                    <%= p %>
                    <%= tag("br", nil, true) %>
                <% end %>
                
                <!-- # Close paragraph started by title, chapter detection -->
                <% if @p_header %> 
                    <%= tag("p") %>
                    <% @p_header = false %>
                <% end %>
                <!-- -->
                
                <!-- #Detect end of table of content and mark it -->
                <% if p =~ /\A\s*<\/toc>\s*\z/i %>
                    <% @toc = false %>
                <% end %>
                <!-- -->
            <% end %>
            </p>
        </div>
    </div>
    <% break %>
<% end %>
<% end %>
