
                
<!-- HEADER -->

                <div id="header" class="padding_bottom">
                    <div class="columns_211 page_wrapper">
                        <div class="half left">
                            <div id="site_title"><p> Leadership As A Service </p><p> World Citizenship Nation </p><p> (LaaSzeN) </p>
                            </div>
                        </div>
                        <div class="half right">
                            <div id="nav_wrap" class="menu_wrapper">
                                <ul id="menu-main-menu" class="menu">
                                    <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11">
                                        <%= link_to 'Philosophy', '#' %>
                                    </li>
                                    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12">
                                        <%= link_to 'LaaS', '#' %>
                                    </li>
                                    <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
                                        <%= link_to 'YearBooks', '#' %>
                                    </li>
                                    <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
                                        <%= link_to 'Sign In', '#' %>
                                    </li>
                                    <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                                        <%= link_to "Lang is English", '#', id: 'site_lang', 'data-language' => "English" %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
<!-- INTRODUCTION_TEXT -->

                <div id="intro" class="columns_211 page_wrapper">
                    <div class="half left">
                        <div class="text_box">
                            Greetings! My name is Obed-Edom Nkezabahizi. I am a network and software professional. Above all, I am an expert in absolute and universal existence principles. Combining my expertise in the three disciplines have led me to engineering a global endeavor code-named 'John Galt Operation (JoGo)'. JoGo sets out to standardize a system of leadership which is universal-principles-compatible. It offers to lay a foundation for solving injustices perpetrated by governments and religions for the last 6000 years due to a poor understanding of the principles governing free-willed beings. To keep abreast of the latest developments, visit this website regularly.

                        </div>
                    </div>
                    
<!-- LOGO_AREA -->

                    <div class="half right">
                        <div class="menu_wrapper">
                            <ul id="menu-social-menu" class="menu">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
<!-- BANNER_IMAGE -->

            <div class="text_box">
                <%= image_tag '300-banner.jpg' %>
            </div>