
                
<!-- HEADER -->

                <div id="header" class="padding_bottom">
                    <div class="columns_211 page_wrapper">
                        <div class="half left">
                            <div id="site_title"><p> Leadership As A Service </p><p> World Citizenship Nation </p><p> (LaaSzeN) </p>
                            </div>
                        </div>
                        <div class="half right">
                            <div id="nav_wrap" class="menu_wrapper">
                                <ul id="menu-main-menu" class="menu">
                                    <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11">
                                        <%= link_to 'Philosophy', '#' %>
                                    </li>
                                    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12">
                                        <%= link_to 'LaaS', '#' %>
                                    </li>
                                    <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
                                        <%= link_to 'Sign in', '#' %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
<!-- INTRODUCTION_TEXT -->

                <div id="intro" class="columns_211 ""page_wrapper">
                    <div class="half left">
                        <div class="text_box">
                            <p>Greetings! My name is Obed-Edom Nkezabahizi, network and software engineer. I am starting a global endeavor to define the most stable social organization that our society has ever known. I shall lay its theoretical and practical foundation in a book entitled 'Man - Prospects Of Immortality Or Non-existence.' To keep abreast of the latest development, visit this website regularly.</p>
                        </div>
                    </div>
                    
<!-- LOGO_AREA -->

                    <div class="half right">
                        <div class="menu_wrapper">
                            <ul id="menu-social-menu" class="menu">
                                <li id="menu-item-330" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-330">
                                    <%= link_to 'Sign Up', '#' %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
<!-- BANNER_IMAGE -->

            <div class="text_box">
                <%= image_tag '300-banner.jpg' %>
            </div>
            
<!-- CONTENT -->

            <div id="content" class="page_wrapper page_background">
                <div id="blog_content" class="columns_431">
                    <div class="three_quarters bottom_padding">
                        <div id="post-273" class="post_box top">
                            <%= render 'layouts/motto_text' %>
                        </div>
                        <div id="post-273" class="post_box top">
                            <%= render 'layouts/slide_text' %>
                        </div>
                    </div>
                    
<!-- QUATER SIDE BAR -->

                    <div class="quarter sidebar">
                        <%= render 'layouts/ann_text' %>
                    </div>
                </div>
            </div>
            
<!-- FOOTER -->

                <div id="footer">
                    <ul><li> Sth1<li> Sth2 </ul>
                    <ul><li> Sth3<li> Sth4 </ul>
                    <ul><li> Sth5<li> Sth6 </ul>
                    <ul><li> Sth7<li> Sth8 </ul>
                </div>
        
<!-- END WRAPPER -->
