
<div align="center" class="dd_box"><div id="div2" align="center" class="div_dd_box">
    <ul id="dl1" class="dropdown">
        <li id="dt1" class="ddheader">
            <a>
                <%= sentence('Agreement') %>
            </a>
            <ul id="dd1" class="ddcontent">
                <li>
                    <%= link_to(sentence('Terms Of Use and Licence Of LaaSzeN App'), '#', {class: 'separator'}) %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl2" class="dropdown">
        <li id="dt2" class="ddheader">
            <a>
                <%= sentence('Acknowledgements') %>
            </a>
            <ul id="dd2" class="ddcontent">
                <li>
                    <%= link_to(sentence('Technological and Intellectual Resources Used by LaaSzeN App'), '#', {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl3" class="dropdown">
        <li id="dt3" class="ddheader">
            <a>
                <%= sentence('Achievements') %>
            </a>
            <ul id="dd3" class="ddcontent">
                <li>
                    <%= link_to(sentence('Advertisemnts'), '#', {class: 'separator'}) %>
                </li>
                <li>
                    <%= link_to(sentence('Noteworthy Endeavors'), '#', {class: 'separator'}) %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl4" class="dropdown">
        <li id="dt4" class="ddheader">
            <a>
                <%= sentence('Maintenance Board') %>
            </a>
            <ul id="dd4" class="ddcontent">
                <li>
                    <%= link_to(sentence('About'), '#', {class: 'separator'}) %>
                </li>
                <li>
                    <%= link_to(sentence('Contact'), '#', {class: 'separator'}) %>
                </li>
                <li>
                    <%= link_to(sentence('LaaSzeN Founder'), '#', {class: 'separator'}) %>
                </li>
                <li>
                    <%= link_to(sentence('Webmaster and Maintainers'), '#', {class: 'separator'}) %>
                </li>
            </ul>
        </li>
    </ul>
</div></div>