
<div align="center" class="dd_box"><div id="div1" align="center" class="div_dd_box">
    <ul id="dl5" class="dropdown">
        <li id="dt5" class="ddheader">
            <a>
                <%= sentence("Philosophy") %>
            </a>
            <ul id="dd5" class="ddcontent">
                <li>
                    <%= link_to(sentence('Books'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl6" class="dropdown">
        <li id="dt6" class="ddheader">
            <a>
                <%= sentence("LaaS")  %>
            </a>
            <ul id="dd6" class="ddcontent">
                <li>
                    <%= link_to(sentence('Recommendations'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('Institutions'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('Professions'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl7" class="dropdown">
        <li id="dt7" class="ddheader">
            <a>
                <%= sentence("Education")  %>
            </a>
            <ul id="dd7" class="ddcontent">
                <li>
                    <%= link_to(sentence('Recommending Education'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('Warning About The Fake'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl8" class="dropdown">
        <li id="dt8" class="ddheader">
            <a>
                <%= sentence("Entertainment")  %>
            </a>
            <ul id="dd8" class="ddcontent">
                <li>
                    <%= link_to(sentence('Entertainment As a Service'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('Warning Unhealthy Leisure'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl9" class="dropdown">
        <li id="dt9" class="ddheader">
            <a>
                <%= sentence("Health")  %>
            </a>
            <ul id="dd9" class="ddcontent">
                <li>
                    <%= link_to(sentence('Health Services and Suggestions'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('Warning About Unhealthy Behavior'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl10" class="dropdown">
        <li id="dt10" class="ddheader">
            <a>
                <%= sentence("Announcements")  %>
            </a>
            <ul id="dd10" class="ddcontent">
                <li>
                    <%= link_to(sentence('LaaSzeN Progress'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('LaaSzeN Services Market'), shelf_path, {class: 'separator'})  %>
                </li>
                <li>
                    <%= link_to(sentence('LaaSzeN Emergencies'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
    <ul id="dl11" class="dropdown">
        <li id="dt11" class="ddheader">
            <a>
                <%= sentence("YearBooks")  %>
            </a>
            <ul id="dd11" class="ddcontent">
                <li>
                    <%= link_to(sentence('LaaSzeN 2015 YearBook'), shelf_path, {class: 'separator'})  %>
                </li>
            </ul>
        </li>
    </ul>
</div></div>